/* selector {
    css-property: value;
} */

/* 
Every browser has default CSS, must be reset so that all browsers show the same design 
Cascading style sheets means stylesheets have hirarchies: 
- Browser default < external stylesheets (link tag in body) < internal stylesheets (style html tags in head section) < inline stylesheets (never use unless small testing)(html attribute 'style')
*/

/* Reset browser styling */
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CSS variables */
:root{
    --bg-dark: #090d16;
    --bg-card: #111827;
    --primary: #6366f1;
    --primary-hover: #4f46e5;
    --text-main: #f9fafb;
    --text-muted: #9ca3af;
    --border-color: #374151;
    --accent-color: #10b981;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    --transition-speed: 0.2;
}

/* declare usage of font family and background color */
html{
    scroll-behavior: smooth;
    font-family: var(--font-family);
    background-color: var(--bg-dark);
    color: var(--text-main);
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* top right bottum left */
    /* [top/bottum]rem [bottum/left]rem */
    /* [top/bottum/left/right]rem */
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid;
    cursor: pointer;
    transition: 
    background-color var(--transition-speed), 
    transform var(--transition-speed), 
    border-color var(--transition-speed);
}

/* for keyboard browsing using tab key */
.btn:focus-visible{
    outline: 2px solid var(--primary);
    outline-offset: 3px;
}

.btn-primary{
    background-color: var(--primary);
    color: #fff;
}

.btn-primary:hover{
    background-color: var(--primary-hover);
    transform: translateY(-2px);
}

.btn-secondary{
    background-color: transparent;
    color: var(--text-main);
    border-color: var(--border-color);
}

.btn-secondary:hover{
    background-color: var(--bg-card);
    border-color: var(--text-muted);
}

.btn-outline{
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline:hover{
    background-color: var(--primary);
    color: #fff;
}

.btn-block{
    display: flex;
    width: 100%;
}

.btn-sm{
    padding: 0.5rem, 1rem;
    font-size: 1.125rem;
}

/* Structural layout of web page */

.site-header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(9, 13, 25, 0.9);
    border-bottom: 1px solid var(--border-color);
}

.brand-logo{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-main);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-icon{
    color: var(--primary);
}

